body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9effff2;
    text-align: center;
}

header {
    background-color: #e9effff2;
    color: #000000;
    padding: 20px 0;
    margin-bottom: 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 300;
    color: #000000;
}

.menu {
    margin-top: 0px;
    background-color: #8c93e1d0;
    padding: 15px 0;
    border-style: ridge;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu button {
    background-color: #ffffffdd;
    color: #000000;
    border: noneround;
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-color:#ffffff
}

.menu button:hover {
    background-color: #fff8e5;
}

.content {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none; /* Piilotettu aluksi */
}

.visible {
    display: block; /* Näytetään kun nappia painetaan */
}

        /* Style for the active (selected) button */
        .menu button.active {
            background-color: #fff8e5;
            color: black;
            border-color:#000000
        }

        /* Hides the non-visible content */
        .content {
            display: none;
        }

        /* Shows the visible content */
        .visible {
            display: block;
        }
