/* Yleisrakenne */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9effff2;
    text-align: center;
}

header {
    background-color: #e9effff2;
    color: #000;
    padding: 20px 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 300;
}

/* Navigaatio */
.navbar {
    background-color: #8c93e1d0;
    border-bottom: 2px ridge black;
}

.navbar-brand, .nav-link, .navbar-toggler {
    color: #000000 !important;
    font-size: 1.2em;
}

.nav-link:hover {
    background-color: #fff8e5;
    color: black !important;
    border-radius: 5px;
}

/* Content yleisesti */
.content {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Kortit */
.card {
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #f9f9f9;
}

/* Kuvakaruselli */
.carousel-inner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Haitari (Accordion) */
.accordion-button {
    background-color: #8c93e1d0;
    color: black;
}

.accordion-button:not(.collapsed) {
    background-color: #fff8e5;
    color: black;
}

.accordion-body {
    background-color: #ffffff;
}

/* Taulukko */
.table {
    margin-top: 20px;
}

.table thead {
    background-color: #8c93e1d0;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

/* Yhteystietokuva */
.contact-img {
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Video upotus */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
